@charset "utf-8";

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

全体の設定

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
body {
  color: #a9a9a9;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.bg-darkgray {
  background-color: #a9a9a9;
}

.container,
.container-fulid {
  overflow: hidden;
  padding-top: 10px;
}

/* 見出しを太字に */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

/* 英字タイトルをWEBフォントに */
header a,
.display-4,
.display-3,
.lead,
.circle-badges {
  font-family: 'Comfortaa', cursive;
}

.display-4,
.lead {
  color: #565656;
  font-size: 28px;
}

.display-4a {
  font-size: 3.5rem;
}

.display-4b {
  color: #565656;
  font-size: 45px;
}

.sns {
  padding-top: .5rem;
}

.navbar {
  padding: 1rem 1rem 0rem;
}

/* パンくずリスト */
.breadcrumb {
  background: transparent;
}

.breadcrumb li + li:before {
  content: '»' !important;
}

.breadcrumb-item a {
  color: #565656;
  text-decoration: none;
}

/* ロゴマーク */
.logo-mark {
  z-index: 999;
}

.logo-mark a {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 100%;
  text-indent:-999px;
  z-index: 999;
}

.logo-mark a:hover {
  background: rgba(255,255,255,0.3);
}

.logo-mark-n {
  display: none;
}

.logo-mark-n a {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 104%;
  text-indent:-999px;
  z-index: 999;
}

.logo-mark-n a:hover {
  border-bottom-style: dotted;
  border-width: 2px;
  border-color: #ffffff;
  margin-left: 15px;
  width: 235px;
}

.usalogo {
  width: 92px;
  padding-top: 4px;
}

.usacafe {
  top: 9px;
  left: 110px;
  font-family: 'Comic Sans MS';
  font-size: 50px;
  width: 220px;
  color: #8a8a8a;
}

.logo-mark2 {
  left: 47px;
  top: 57px;
  z-index: 998;
}

.cafelogo {
  width: 32px;
}

.main-txt {
  left: 5%;
  top: 23px;
  text-shadow: 2px 2px 1px rgb(255, 255, 255),
  -2px 2px 1px rgb(255, 255, 255),
  2px -2px 1px rgb(255, 255, 255),
  -2px -2px 1px rgb(255, 255, 255);
}

/* かつてギザギザ線 */
.zigzag {
  /* position: relative; */
  padding: 0;
  background: linear-gradient(to bottom, #FFF, #a9a9a9 200px, #a9a9a9 70%, #a9a9a9);
}

.zigzag-c {
  position: relative;
  padding: 0;
  background-color: #a9a9a9;
}

.zigzag::before,
.zigzag::after {
  position: absolute;
  width: 100%;
  height: 60px;
  content: "";
}

.zigzag::before {
  top: -60px;
  background-size: 60px 60px;
}

.zigzag::after {
  bottom: -60px;
  background-size: 60px 60px;
}

/* かつて薄い背景のギザギザ線 */
.light-zigzag {
  background: linear-gradient(to bottom, #FFF, #f8f9fa 200px, #f8f9fa 70%, #f8f9fa);
}

/* かつてコピーライトのギザギザ線 */
.zigzag-copy {
  position: relative;
  padding: 65px 0px 20px 0px;
  background-color: #a9a9a9;
  background: linear-gradient(to bottom, #FFF, #a9a9a9 85px, #a9a9a9 90%, #a9a9a9);
}

.zigzag-copy::before {
  position: absolute;
  width: 100%;
  height: 60px;
  content: "";
  top: -60px;
  background-size: 60px 60px;
}

/* ------------------------------
地図サイズ
--------------------------------- */
.container-a {
  padding-top: 30px;
}

iframe {
  display: block;
  width: 100%;
  height: 400px;
}

/* ------------------------------
フッター
--------------------------------- */

.usalogo-f {
  width: 180px;
  padding-bottom: 10px;
}

.logo-mark-f2 {
  top: 151px;
  left: 94px;
}

.cafelogo-f {
  width: 66px;
}

.usacafe2 {
  top: 120px;
  left: 215px;
  font-family: 'Comic Sans MS';
  font-size: 36px;
  width: 220px;
  color: #ffffff;
}

.stitch {
  padding: 1rem !important;
  margin: 2em 0 !important;
  color: #565656;
  background-color: #a9a9a9;
  box-shadow: 0px 0px 0px 10px #a9a9a9;
  border: dashed 2px #fff;
  border-radius: 8px;
}

.stitch p {
  margin-bottom: .5rem;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

トップページ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* トップ画像 */

  /* --- 全体のBOX定義 ---------------------------------------- */
  .box {
    position   : relative;
    overflow   : hidden;  
    background-size: cover;
    background-position: center center;
    height: 550px;
    box-shadow: 0px 5px 6px 0px #e2e2e2;
    border-radius: 0;
  }
  
  /* --- 背景の指定 ------------------------------------------- */
  .box .bgImg {
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;
    animation  : bgAnime 24s infinite;   /* 4画像 × 各6s = 24s */
  }
  
  /* --- 段差で背景画像のアニメーションを実行 ----------------- */
  .box .src1 {
    background-image : url(../img/Rabbit-2.jpg);   /* 背景の画像を指定 */
    background-size: cover;
    background-position: center center;
    height: 550px;
    box-shadow: 0px 5px 6px 0px #e2e2e2;
    border-radius: 0;
  }

  .box .src2 {
    background-image : url(../img/Rabbit-4.jpg);   /* 背景の画像を指定 */
    animation-delay  : 6s;
    background-size: cover;
    background-position: center center;
    height: 550px;
    box-shadow: 0px 5px 6px 0px #e2e2e2;
    border-radius: 0;
  }

  .box .src3 {
    background-image : url(../img/coffee-2.jpg);   /* 背景の画像を指定 */
    animation-delay  : 12s;
    background-size: cover;
    background-position: center center;
    height: 550px;
    box-shadow: 0px 5px 6px 0px #e2e2e2;
    border-radius: 0;
  }

  .box .src4 {
    background-image : url(../img/Rabbit-5.jpg);
    animation-delay  : 18s;
    background-size: cover;
    background-position: center center;
    height: 550px;
    box-shadow: 0px 5px 6px 0px #e2e2e2;
    border-radius: 0;
  }
  
  @keyframes bgAnime {
    0% { opacity: 0; }
    10% { opacity: 1; }
    25% { opacity: 1; }
    30% { opacity: 0; }
   100% { opacity: 0; }
  }

  /* --- 全体のBOX定義2 ---------------------------------------- */
  .box2 {
    position   : relative;
    overflow   : hidden;  
    background-size: cover;
    background-position: center center;
    height: 550px;
    box-shadow: 0px 5px 6px 0px #e2e2e2;
    border-radius: 0;
  }
  
  /* --- 背景の指定 ------------------------------------------- */
  .box2 .bgImg2 {
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;
    animation  : bgAnime2 12s infinite;   /* 2画像 × 各6s = 12s */
  }
  
  /* --- 段差で背景画像のアニメーションを実行 ----------------- */
  .box2 .src5 {
    background-image : url(../img/Rabbit-9.jpg);   /* 背景の画像を指定 */
    background-size: cover;
    background-position: center center;
    height: 550px;
    box-shadow: 0px 5px 6px 0px #e2e2e2;
    border-radius: 0;
  }

  .box2 .src6 {
    background-image : url(../img/Cake-2.jpg);
    animation-delay  : 6s;
    background-size: cover;
    background-position: center center;
    height: 550px;
    box-shadow: 0px 5px 6px 0px #e2e2e2;
    border-radius: 0;
  }

  
  @keyframes bgAnime2 {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 0; }
  }

  /* --- 全体のBOX定義3 ---------------------------------------- */
  .box3 {
    position   : relative;
    overflow   : hidden;  
    background-size: cover;
    background-position: center center;
    height: 550px;
    box-shadow: 0px 5px 6px 0px #e2e2e2;
    border-radius: 0;
  }
  
  /* --- 背景の指定 ------------------------------------------- */
  .box3 .bgImg3 {
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;
    animation  : bgAnime3 12s infinite;   /* 2画像 × 各6s = 12s */
  }
  
  /* --- 段差で背景画像のアニメーションを実行 ----------------- */
  .box3 .src7 {
    background-image : url(../img/Rabbit-8.jpg);   /* 背景の画像を指定 */
    background-size: cover;
    background-position: center center;
    height: 550px;
    box-shadow: 0px 5px 6px 0px #e2e2e2;
    border-radius: 0;
  }

  .box3 .src8 {
    background-image : url(../img/Rabbit-1.jpg);
    animation-delay  : 6s;
    background-size: cover;
    background-position: center center;
    height: 550px;
    box-shadow: 0px 5px 6px 0px #e2e2e2;
    border-radius: 0;
  }

  
  @keyframes bgAnime3 {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 0; }
  }  
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

SAMPLEページ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* サンプルトップ画像 */
.main-image {
  background-image: url("../img/Rabbit-9.jpg");
  background-size: cover;
  background-position: center center;
  height: 550px;
  box-shadow: 0px 5px 6px 0px #e2e2e2;
  border-radius: 0;
}

/* 曜日 */
.circle-badges {
  position: absolute;
  top: -30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fcbcc1;
  text-align: center;
  line-height: 120px;
  color: #fff;
  font-size: 1.2rem;
  z-index: 999;
}

.container-n {
  margin-top: 116px;
  overflow: hidden;
  padding-top: 10px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.border-n {
  border: 1px solid #dee2e6!important;
  padding: 1rem 1rem 0rem 1rem!important;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

CONTACTページ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* コンタクトトップ画像 */
.main-image-c {
  background-image: url("../img/Rabbit-5.jpg");
  background-size: cover;
  background-position: center center;
  height: 550px;
  box-shadow: 0px 5px 6px 0px #e2e2e2;
  border-radius: 0;
}

/* 入力フォーム */
input[type]:focus {
  outline: 0;
  box-shadow: none;
  border: 2px solid #fcbcc1;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

メディアクエリ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* 中大デバイス（タブレット, 1200px 未満）
============================================== */
@media screen and (max-width: 1200px) {

  .usacafe2 {
    top: 120px;
    left: 195px;
    font-family: 'Comic Sans MS';
    font-size: 36px;
    width: 220px;
    color: #ffffff;
  }

}

/* 中中大デバイス（タブレット, 1100px 未満）
============================================== */
@media screen and (max-width: 1100px) {

  .usacafe2 {
    top: 120px;
    left: 195px;
    font-family: 'Comic Sans MS';
    font-size: 28px;
    width: 220px;
    color: #ffffff;
  }
}


/* 中デバイス（タブレット, 992px 未満）
============================================== */
@media screen and (max-width: 991.98px) {

  .usacafe2 {
    top: 92px;
    left: 333px;
    font-family: 'Comic Sans MS';
    font-size: 62px;
    width: 360px;
    color: #ffffff;
  }

  .main-txt {
    left: 5%;
    top: 23px;
  }

  .light-zigzag {
    background-color:#f8f9fa;
  }

  .usalogo-f {
    width: 225px;
    padding-bottom: 10px;
    padding-left: 48px;
  }

  .logo-mark-f2 {
    top: 150px;
    left: 141px;
  }
}

/* END */

/* 小デバイス（横向きモバイル, 768px 未満）
============================================== */
@media screen and (max-width: 767.98px) {
  .sns {
    padding-top: 1rem;
  }

  .display-4b {
    color: #565656;
    font-size: 30px;
  }

  .main-txt {
    left: 5%;
    top: 93px;
    text-shadow: 2px 2px 1px rgb(255, 255, 255),
    -2px 2px 1px rgb(255, 255, 255),
    2px -2px 1px rgb(255, 255, 255),
    -2px -2px 1px rgb(255, 255, 255);
  }

  /* ロゴマークを小さく設定 */
  .logo-mark {
    left: 24px;
    top: 85px;
  }

  .logo-mark-n {
    display: block;
  }

  .usalogo {
    padding: 9px 0px 0px 22px
  }

  .usacafe {
    top: 26px;
    left: 97px;
    font-family: 'Comic Sans MS', 'Comfortaa', sans-serif;
    font-size: xx-large;
    width: 200px;
    color: #565656;
    text-shadow: 2px 2px 1px rgb(255, 255, 255),
    -2px 2px 1px rgb(255, 255, 255),
    2px -2px 1px rgb(255, 255, 255),
    -2px -2px 1px rgb(255, 255, 255);
  }
  
  .logo-mark2 {
    top: 45px;
    z-index: 998;
    width: 127px;
    left: 46px;
  }
  
  .cafelogo {
    width: 20%;
  }

  .lead {
    font-size: 1rem;
  }

  .circle-badges {
    top: -20px;
    width: 100px;
    height: 100px;
    font-size: 1rem;
    text-align: center;
    line-height: 100px;
  }

  .usacafe2 {
    top: 92px;
    left: 213px;
    font-family: 'Comic Sans MS', 'Comfortaa', sans-serif;
    font-size: 62px;
    width: 360px;
    color: #ffffff;
  }

  .usalogo-f {
    width: 171px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .logo-mark-f2 {
    top: 145px;
    left: 90px;
  }
}

/* END */

/* 極小デバイス（縦向きモバイル, 629px 未満）
	============================================== */
  @media screen and (max-width: 628.98px) {

    .usacafe2 {
      top: 128px;
      left: 220px;
      font-family: 'Comic Sans MS', 'Comfortaa', sans-serif;
      font-size: 40px;
      width: 360px;
      color: #ffffff;
    }
  
    .container-b {
      max-width: 85%;
      margin: auto;
    }
  }

/* 極小小デバイス（縦向きモバイル, 576px 未満）
	============================================== */
@media screen and (max-width: 575.98px) {

  .sns {
    padding-top: 1rem;
  }


  .main-txt {
    left: 5%;
    top: 93px;
  }

  .display-3,
  .display-4 {
    font-size: 25px;
  }

  .display-4a {
    font-size: 25px;
  }

  .logo-mark {
    left: 24px;
    top: 85px;
    z-index: 999;
  }

  .logo-mark img {
    top: 25%;
    left: 25%;
  }
  
  .usacafe {
    top: 26px;
    left: 97px;
    font-family: 'Comic Sans MS', 'Comfortaa', sans-serif;
    font-size: xx-large;
    width: 200px;
    color: #565656;
  }

  .logo-mark2 {
    top: 45px;
    z-index: 998;
    width: 127px;
    left: 46px;
  }
  
  .cafelogo {
    width: 20%;
  }

  .usalogo-f {
    width: 180px;
    padding-bottom: 10px;
  }
  
  .logo-mark-f2 {
    top: 151px;
    left: 94px;
  }
  
  .cafelogo-f {
    width: 66px;
  }

  .usacafe2 {
    top: 128px;
    left: 220px;
    font-family: 'Comic Sans MS', 'Comfortaa', sans-serif;
    font-size: 40px;
    width: 360px;
    color: #ffffff;
  }
  .container-b {
    max-width: 85%;
    margin: auto;
  }
}

@media screen and (max-width: 458.98px) {
  .usacafe2 {
    top: 128px;
    left: 200px;
    font-family: 'Comic Sans MS', 'Comfortaa', sans-serif;
    font-size: 28px;
    width: 360px;
    color: #ffffff;
  }
}

@media screen and (min-width: 767.98px) {
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .container {
    max-width: 100%;
  }

  .container-b {
    max-width: 85%;
    margin: auto;
  }

  form {
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 991.98px) {
  .col-lg-5-1 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .container {
  max-width: 100%;
  }

  .container-b {
    max-width: 85%;
    margin: auto;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }

  .container-b {
    max-width: 80%;
    margin: auto;
  }
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: #f7a6ad;
  opacity: 0.7;
  border-radius: 50%;
  z-index: 999;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -12px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
